.main-container {
  .message-response--container {
    margin-top: auto;

    .message-container {
      margin-left: auto;
      margin-bottom: 12px;
      background-color: #f4f4f4;
      border-radius: 1.5rem;

      .MuiCardContent-root {
        padding-bottom: 16px;
      }
    }
    .response-container {
      box-shadow: none;

      .typeWritterClass {
        display: none;
      }
    }
    .input-container {
      margin-top: auto;
    }
  }
}
